* {
  margin: 0;
  padding: 0;
}
input,
select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.header {
  padding: 10px;
  background: rgb(58, 176, 158);
  color: white;
}
.form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  .basicform {
    .form-controller {
      display: flex;
      flex-direction: column;
      width: 600px;
      padding: 10px;
      gap: 10px;
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        width: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px;
        font-size: 14px;
      }
      label {
        font-weight: bold;
      }
      /* Set a style for all buttons */
      button {
        background-color: rgb(58, 176, 158);
        color: white;
        border: none;
        cursor: pointer;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
      }
      button:hover {
        opacity: 0.8;
      }
    }
  }
}
.search-bar {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
  &-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;
    &-controller {
      &-searchbox {
        width: 300px;
        border-radius: 3px;
        border: 1px solid #ccc;
        background-color: #fefdf0;
        vertical-align: top;
        height: 30px;
        padding: 3px 10px;
      }
      &-button {
        padding: 3px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fefdf0;
        vertical-align: top;
        height: 30px;
      }
      &-dropdown {
        padding: 3px 10px;
        border-radius: 3px;
        background-color: #fefdf0;
        border: 1px solid #ccc;
        vertical-align: top;
        height: 30px;
      }
    }
  }
}
.listing-table {
  padding: 10px;
  margin: 10px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: space-between;
  .pokemon-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    border: 1px solid black;
    &-image {
      height: 200px;
      width: 200px;
    }
    &-details {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: flex-start;
      &-ability {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .ability {
          background-color: rgb(58, 176, 158);
          color: white;
          padding: 10px;
        }
      }
    }
  }
}
