#root{
  width: 100%;
}
*{
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}
.pokemon-card{
  display: flex;
  flex-direction: row;
  gap : 30px;
  padding : 30px;
  border: 1px solid black;
}
.pokemon-details {
  align-items: center;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: 1px solid black;
  margin: auto;
}
.pokemon-details .details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.pokemon-card .details{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.listing-table{
  margin: 30px;
   display: grid;
  grid-template-columns:  repeat(3 , 1fr);
  gap: 30px ;
  align-content: space-between;
}

.search-box{
  height: 30px;
  width: 700px;
}

.pagination-box{
  width: auto;
  height: 30px;
}
.search-bar{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.search-bar .form {
  display: flex;
  flex-direction: row;
  gap : 20px;
  align-items: end;
}
.search-bar .searchButton {
  height: 30px;
  padding : 0px 10px;
}

.offset-btn{
  /* height: 50px; */
  padding: 12px;
}

.listing-page-btn{
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 40px;
}
.image-details{
  height: 200px;
  width: 200px;
}
.abilitybox{
  margin: 10px;
  padding: 10px;
  display: flex;
  gap : 10px;
}
.ability{
  background-color:rgb(58, 176, 158);
  color: white;
  padding : 10px
}
li{
  margin: 5px;
}

h1{
  padding: 10px;
  background: rgb(58,176,158);
  color: white;
}
h2 {
  background: whitesmoke;
  color: black;
  padding: 10px;
}

.list-page-image{
  height: 200px;
  width: 200px;
}
.ability-listing-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px ;
}

/* Set a style for all buttons */
button {
  background-color: rgb(58, 176, 158);
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 10px;
}
select{
  margin: 10px;
}

/* Add a hover effect for buttons */
 button:hover {
  opacity: 0.8;
}

.form{
  margin-top: 20px;
  width: auto;
  display: flex;
  justify-content: center;
}

.backbutton{
  width: 100px;
}
